*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    font-family: 'Inria Sans', sans-serif;
    overflow-x: hidden;
    background-color: #f6f6f6;
}

header{
    min-width: 100vw;
    width: 100%;
    max-height: 70px;
    height: 100%;
    background-color: #494850;
    padding: 30px 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 30px;

    h1{
        color: white;
        font-size: 30px;
        margin-left: 20px;
        font-family: 'Inria Sans', sans-serif;
        font-weight: 700;
    }
}

main{
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
}

.containerBanner{
    min-height: 400px;
    min-width: 400px;

    max-height: 500px;
    max-width: 500px;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        margin-bottom: 10px;
        font-size: 30px;
        margin-left: 20px;
        font-family: 'Inria Sans', sans-serif;
        font-weight: 700;
    }

}


#inserirFilme{
    min-height: 400px;
    min-width: 300px;
    max-height: 400px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;

    aspect-ratio: 16 / 9;
    border-radius: 10px;

    #bannerFilme{
        display: none;
    }

    label{
        cursor: pointer;
    }

}

.input-form{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    filter: drop-shadow(0px 0px 10px #000000);
    padding: 5px 20px;

    input{

    }
}


